table,
.dataframe,
table.dataframe {
  margin-left: auto !important;
  margin-right: auto !important;
}

img,
.jp-OutputArea-output img,
.cell_output img {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

figure {
  text-align: center;
}